# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
# Ignore executables named 'drills' or 'exercise-*' in any subdirectory
*/drills
*/exercise-*

# macOS debug files
*.dSYM

# Ensure we track the source files
!*/drills.cpp
!*/exercise-*.cpp